.legend-wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	padding: 0 30px 20px;
}

.legend {
	display: flex;
	align-items: center;
	width: 45%;
	color: #b3b3b3;
	font-size: 12px;
	margin-bottom: 15px;
}

.legend-value {
	margin-left: auto;
}