.h1 {
	margin: 20px 0 50px;
	font-weight: 300;
	color: #808080;
}

.card {
	background: #FFFFFF;
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.05);
	border-radius: 6px;
	display: flex;
}

.column {
	width: 20%;
	border-right: 2px solid #f5f5f5;
}

.column-element {
	cursor: pointer;
	display: flex;
	align-items: center;
	padding: 20px 0 20px 20px;
	font-size: 13px;
	border-bottom: 2px solid #f5f5f5;
	border-left: 2px solid transparent;
}

.column-element:first-child {
	padding: 20px;
}

.active {
	border-left: 2px solid #1875F0;
}

.btn {
	width: 100%;
	padding: 20px 0;
	background: #1875F0;
	font-weight: 900;
	font-size: 12px;
	color: #FFFFFF;
	border: none;
	outline: none;
	border-radius: 4px;
}