.icon {
	position: absolute;
	top: 8px;
	left: 10px;
}

.input {
	width: 100%;
	border: 2px solid #F5F5F5;
	border-radius: 4px;
	color: #808080;
	font-size: 12px;
	font-weight: 700;
	outline: none;
}

.input::placeholder {
	font-size: 12px;
}

.is-invalid {
	border: 2px solid red;
}

.error {
	position: absolute;
	top: 50px;
	left: 20px;
	font-size: 12px;
	color: red;
}