.editor {
	display: flex;
	align-items: center;
	padding: 10px;
}

.textarea {
	font-family: 'Roboto', sans-serif;
	width: 100%;
	outline: none;
	resize: none;
	overflow: hidden;
	padding: 20px;
	font-size: 12px;
	font-weight: 700;
	color: #999999;
	border: 2px solid #F5F5F5;
	border-radius: 4px;
	margin-bottom: 20px;
	height: auto;
}

.textarea::placeholder {
	font-size: 12px;
}