.header {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid #f5f5f5;
	padding: 15px 30px;
	color: #b3b3b3;
}

.header button {
	cursor: pointer;
	border: none;
	outline: none;
	background: transparent;
	padding: 0;
}