.react-datepicker-wrapper {
	width: 20%;
}

.custom-input {
	display: flex;
	justify-content: center;
	align-items: center;
	background: transparent;
	width: 100%;
	border: 2px solid #F5F5F5;
    border-radius: 4px;
    color: #808080;
    font-size: 12px;
    font-weight: 700;
    outline: none;
	padding: 15px 20px 15px 40px;
	position: relative;
}

.custom-input img {
	position: absolute;
	top: 8px;
	left: 10px;
}