.stepper-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 20%;
}

.circle {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #ffffff;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	border: 2px solid #F5F5F5;
}

.spanner {
	margin: 10px auto;
	width: 2px;
	height: 100px;
	background-color: #f0f0f0;
}