.menu-wrapper {
	display: inline-block;
	border: 1px solid grey;
}

.ul {
	padding: 25px;
}

.h6 {
	font-weight: 500;
	color: #999999;
	margin-bottom: 25px;
}

.ul li {
	display: flex;
	align-items: center;
	margin: 0 0 25px;
}

.ul li > img {
	margin-right: 20px;
}