.card {
	background: #FFFFFF;
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.05);
	border-radius: 6px;
	width: calc(25% - 30px);
}

.info {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px;
}

.h1 {
	font-weight: 500;
	color: #808080;
}

.h6 {
	color: #999999;
}