*,
*:before,
*:after {
  box-sizing: border-box;
}

.App {
  font-family: 'Roboto', sans-serif;
  max-width: 1440px;
  margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-weight: 500;
  font-size: 16px;
}

h6 {
  font-size: 13px;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.wrapper {
  display: flex;
}

.content-wrapper {
  width: 100%;
  
}

.content {
  padding: 65px;
  background: #fafafa;
  height: 100%;
}